@charset "utf-8";
/*css sprite*/
.HotelDetail .HotelInfo i,
.HotelDetail .HotelInfo span dd,.hotel-icon-tel {background:url(../images/hotel_ico.png) no-repeat;}

article {width:100%;}
article .HotelList01 {border-bottom:1px #ddd solid;}
article .HotelList01 li {width:100%; min-height:48px; line-height:48px;}
article .HotelList01 li p { position:relative;}
article .HotelList01 li .HotelInput {border-bottom:1px #ddd solid;}
article .HotelList01 li .HotelInput .tag{display: block ;   height: 42px;
    line-height: 42px;}
article .HotelList01 li .HotelInput.new .tag{
    color: #333;
}
article .HotelList01 li .GetLocation {display:table-cell; width:60px; /*height:48px;*/ border:1px #75AD06 solid; -webkit-border-radius:4px; border-radius:4px; position:relative;}
article .HotelList01 li .GetLocation span {position:absolute; left:0; bottom:0; display:block; width:100%; font-size:12px; line-height:20px; text-align:center; color:#75AD06;}
article .HotelList01 li .GetLocation:before {position:absolute; left:18px; top:5px; width:24px; height:24px; content:""; background-position:-18px -22px; background-size:108px auto;}
article .HotelList01 li .GetLocation:active {background:#eee;}
article .HotelList01 li.tabRow{
    display: table;
}
article .HotelList01 li.tabRow p{
    display: table-cell;
}
article .HotelList02 {padding-top:0px;}
article .HotelList02 li {display:table; width:100%; padding:10px 0 0 0; border-bottom:1px #ccc dashed;}
article .HotelList02 li:active {background:#f5f5f5;}
article .HotelList02 li .TourImage {float:left; width:95px; height:95px; position:relative;}
article .HotelList02 li .TourImage img {width:95px; height:95px;}
article .HotelList02 li .TourImage .tag {display:none; position:absolute; left:5px; top:5px; width:40px; height:40px; font-size:12px; color:#fff; text-align:center; transform:rotate(-45deg);}
article .HotelList02 li .TourImage .tag:before {position:absolute; left:-30px; top:-30px; content:''; width:0; height:0; border-top:100px #FF9B00 solid; border-right:100px transparent solid; transform:scale(0.5,0.5) rotate(45deg); z-index:-1;}
article .HotelList02 li .TourImage .label {position:absolute; left:0; bottom:0; width:100%; height:20px; background:rgba(0,0,0,0.60); font-size:12px; line-height:20px; text-align:center; color:#fff;}
article .HotelList02 li .TourImage .available {display:block;}
article .HotelList02 li .TourContent {padding:0 0 0 105px; height:100px; position:relative;}
article .HotelList02 li .TourContent h3 {font-size:16px; line-height:18px; color:#333; height:36px; overflow:hidden;}
article .HotelList02 li .TourContent .discount {padding:3px 0; height:20px;}
article .HotelList02 li .TourContent .discount i {float:left; font-size:10px; color:#666; lin-height:15px; height:14px; padding:0 2px; margin:0 5px 0 0; border:1px #ddd solid; -webkit-border-radius:3px; border-radius:3px;}
article .HotelList02 li .TourContent .discount i.hui {border-color:#FF7600; color:#FF7600;}
article .HotelList02 li .TourContent .rank {display:block; font-size:12px; line-height:18px; color:#666; height:18px;}
article .HotelList02 li .TourContent .price {position:absolute; right:0px; bottom:0px; font-size:12px; color:#999;}
article .HotelList02 li .TourContent .price dfn {font-size:13px; color:#E00003;}
article .HotelList02 li .TourContent .price strong {font-size:20px; color:#E00003;}
article .HotelList02 li .TourContent .RoomPrice {top:22px;}
article .HotelList02 li .TourContent .BookFilter {position:absolute; right:0px; bottom:5px;}
article .HotelList02 li .TourContent .BookFilter button {float:right; height:30px; padding:0 15px; background-color:#ff9a14; font-size:16px; line-height:30px; color:#fff; border-radius:3px; -webkit-border-radius:3px;}
article .HotelList02 li .TourContent .BookFilter button.SoldOut {background:#ccc;}
article .HotelList02 li .TourContent .BookFilter em {float:right; height:30px; padding:0 10px 0 0; font-size:15px; line-height:30px; color:#ff9a14;}
article .HotelList02 .MoreRoom {margin:8px 0 0 0; padding:10px; border:1px #ddd solid;  text-align:center;}
article .HotelList02 .MoreRoom:active {background:#f5f5f5;}
article .HotelList02 .MoreRoom:before {content:""; width:5px; height:5px; background:#333;}
article .HotelList02 .MoreRoom em {font-size:14px; color:#75AD06;}
article .HotelList02 .MoreRoom .arrow {position:relative;}
article .HotelList02 .MoreRoom .arrow:before {position:absolute; left:7px; top:5px; content:""; width:7px; height:7px; display:block; border-width:2px 2px 0 0; border-color:#75AD06; border-style:solid;}
article .HotelList02 .MoreRoom .ArrowUp:before {transform:rotate(-45deg); -webkit-transform:rotate(-45deg);}
article .HotelList02 .MoreRoom .ArrowDown:before {top:2px; transform:rotate(135deg); -webkit-transform:rotate(135deg);}


/*Hotel Detail*/
.HotelDetail {width:100%;}
.HotelDetail .HotelName {width:100%; height:90px;box-sizing: border-box;}
.HotelDetail .HotelName h1 { font-size:16px; font-weight:800; padding-right:80px;}
.HotelDetail .HotelName .HotelPhoto {position:absolute; right:10px; top:50%; width:70px; height:70px; margin-top:-35px;}
.HotelDetail .HotelName .HotelPhoto img {width:70px; height:70px;}
.HotelDetail .HotelName .HotelPhoto .ImgInfo {position:absolute; left:0; bottom:0; width:100%; font-size:12px; color:#fff; text-align:center; background:rgba(0,0,0,0.70);}
.HotelDetail .HotelInfo {height:60px;}
.HotelDetail .HotelInfo i {position:absolute; left:10px; top:50%; margin-top:-8px; display:block; width:16px; height:16px; background-size:266px auto;}
.HotelDetail .HotelInfo .ico_house {background-position:0 -19px;}
.HotelDetail .HotelInfo span {padding:11px 0 0 35px; display:block;}
.HotelDetail .HotelInfo span p {font-size:15px; line-height:20px;}
.HotelDetail .HotelInfo span dd {display:inline-block; width:16px; height:16px; margin-right:5px; background-size:307px auto;}
  .HotelDetail .HotelInfo span dd.ico_fitness {background-position:-19px 0;}
  .HotelDetail .HotelInfo span dd.ico_swim {background-position:-37px 0;}
  .HotelDetail .HotelInfo span dd.ico_park_money {background-position:-54px 0;}
  .HotelDetail .HotelInfo span dd.ico_meeting {background-position:-71px 0;}
  .HotelDetail .HotelInfo span dd.ico_food {background-position:-19px -17px;}
  .HotelDetail .HotelInfo span dd.ico_wifi {background-position:-37px -17px;}
  .HotelDetail .HotelInfo span dd.ico_browser {background-position:-54px -17px;}
.HotelDetail .RoomFilter {position:relative; padding:48px 0 0 0;}
.HotelDetail .RoomFilter .RoomHead {position:absolute; left:0; top:0; width:100%; height:48px; display:table; background:#fff; border-bottom:1px #ddd solid; z-index:90;}
.HotelDetail .RoomFilter .RoomHead .select {display:table-cell; vertical-align:middle;}
.HotelDetail .RoomFilter .RoomHead .select span {padding:0 0 0 10px; font-size:15px;}
.HotelDetail .RoomFilter .RoomHead .HeadButton {display:table-cell; width:60px; height:23px; border-left:1px #ddd solid; padding:25px 0 0 0; font-size:12px; color:#75AD06; text-align:center; position:relative;}
.HotelDetail .RoomFilter .RoomHead .HeadButton:active {background:#f5f5f5;}
.HotelDetail .RoomFilter .RoomHead .HeadButton:before {position:absolute; left:50%; top:5px; margin-left:-10px; width:20px; height:20px; content:"";background-size:99px auto;}
  .HotelDetail .RoomFilter .RoomHead .fitrate:before {background-position: -38px -21px;}
.HotelDetail .RoomFilter .RoomHead .fitrate.new:after{
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 5px;
    top: 6px;
    right: 20%;
    background-color: #FF9913;
}
  .HotelDetail .RoomFilter .RoomHead .price:before { background-position: -79px -21px;}
.HotelDetail .HotelExplain {padding:10px; font-size:14px; color:#666; position:relative;}
.HotelDetail .HotelExplain .ExplainTitle {position:absolute; left:10px; top:-25px; font-size:15px; font-weight:800;}
.HotelDetailSpace {width:100%; height:60px;}


.room_filter_hotel{position: fixed;bottom: 0;}

.hotel-icon-tel {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 235px 235px;
    vertical-align: middle;
    text-indent: -9999px;
}
.hotel-icon-tel {
    background-position: -54px -13px;
}


