.indexCont .img_node:before{
    background-image: url(../images/tour_ico.png);
    background-repeat: no-repeat;
}
.nav-list li:before, .tool-cn a:before, .icon-new, .search-index:before, .search-index div:before, .notice-my-account:before, .search-index div span:after,.navBox li .box-img {
    background: url(../images/home.png) no-repeat 0 0;
    background-size: 134px 326px;
}

.swiper-container {
    height: 100%;
}
.indexCont .img_node img {
    vertical-align: bottom;
    position: absolute;
    left: 0;
    top: 0;
}
.indexCont .img_node {
    background: rgb(238, 243, 245);
}
.indexCont .img_wrap {
    position: relative;
    overflow: hidden;
    background: #333;
}
.indexCont .img_node:before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    background-position: -74px -27px;
    background-size: 104px auto;
    animation: 2s loadingDetailImg linear infinite;
}
@keyframes loadingDetailImg {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*搜索*/
.search-index {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 45px;
    padding: 7px 65px 7px 8px;
    background-color: #F6F6F6;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.search-index div {
    height: 28px;
    overflow: hidden;
    padding: 0 5px;
    line-height: 28px;
    border-radius: 5px;
    background-color: #fff;
    color: #666666;
    font-size: 12px;
    border: 1px solid #999999;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.search-index div span {
    position: relative;
    padding-left: 20px;
}
.search-index div span:after {
    position: absolute;
    top: -2px;
    left: 2px;
    width: 15px;
    height: 18px;
    overflow: hidden;
    background-position: -59px -276px;
    content: "";
}
.search-index .notice-my-account {
    width: 60px;
    height: 44px;
    position: absolute;
    top: 0;
    right: 4px;
}
.search-index .notice-my-account:before {
    content: "\0020";
    position: absolute;
    top: 4px;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 26px;
    background-position: -59px -193px;
}
.search-index .notice-my-account span {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #690;
}
.top-wrap{
    width: 100%;
    height: 45px;
}
.index-head .tool-cn{
    background-color: #FFF;
}
.index-head .tool-cn a {
    position: relative;
    float: left;
    padding:10px 38px;
    color: #333;
    font-size: 14px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.index-head .tool-cn .link-tel:before{
    background-position: -60px -153px;
    content: "\0020";
    position: absolute;
    top: 13px;
    left: 15px;
    width: 16px;
    height: 17px;
}
/*导航*/
.navBox {
    display: block;
    width: 100%;
    /* height: 114px; */
    overflow: hidden;
    text-align: center;
}
.navBox li {
    display: inline-block;
    width: 20%;
    margin-right: 2%;
    position: relative;
}
.navBox li a {
    display: block;
}
.navBox li .box-img {
   width: 66px;
    height: 66px;
    margin: 15px auto 5px;
    animation: index_icon .4s ease-out backwards;
}

@-webkit-keyframes index_icon {
    0%{
        -webkit-transform:scale(0);
    }
    100%{
        -webkit-transform:scale(1);
    }
}
@keyframes index_icon {
    0%{
        transform:scale(0);
    }
    80%{
        transform:scale(1.2);
    }
    100%{
        transform:scale(1);
    }
}
.navBox li h5 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 19%;
}
.navBox li:nth-of-type(1) .box-img{
   background-position: 0 0;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.navBox li:nth-of-type(1) h5{
    color: #3da2ff;
}
.navBox li:nth-of-type(2) .box-img{
    background-position: -68px 0;
}
.navBox li:nth-of-type(2) h5{
    color: #31bd80;
}
.navBox li:nth-of-type(3) .box-img{
    background-position: 0 -67px;
}
.navBox li:nth-of-type(3) h5{
    color: #ffb410;
}
.navBox li:nth-of-type(4) .box-img{
    background-position: -68px -67px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.navBox li:nth-of-type(4) h5{
    color: #f61d4b;
}
/*主题*/
.topic-content{
    padding:8px;;
}
.topic-content .n_xuni {
    width: 49%;
    min-width: 148px;
    height: 70px;
    float: left;
    margin-bottom: 8px;
    -webkit-box-flex: 1;
    box-flex: 1;
    box-sizing: border-box;
    position: relative;
}
.topic-content .n_xuni img {
    height: 50px;
}
.topic-content .text,.topic-content .img{
    /*float: left;*/
}
.topic-content .img{
    position: absolute;
    left: 10px;
    top: 8px;
}
.topic-content .text{
    position: relative;
    bottom: 0;
    right: 0;
    padding: 16px 0 0 64px;
}
.topic-content h1,.topic-content p{
    color: #fff;
}
.topic-content p {
    font-size: 12px;
    line-height: 12px;
    margin-right: 8px;
}
.topic-content h1 {
    font-size: 18px;
    line-height: 24px;
    margin-right: 5px;
}
.topic-content .n_xuni:active{
    -webkit-transform: scale(.98);
    transform: scale(.98);
}
.topic-content .n_xuni:nth-child(1){
    background-color: #ff5d5d;
}
.topic-content .n_xuni:nth-child(2) {
    background-color: #f0b92d;
}
.topic-content .n_xuni:nth-child(3) {
    background-color: #f7cb2d;
}
.topic-content .n_xuni:nth-child(4) {
    background-color: #65b7f2;
}
.topic-content .n_xuni:nth-child(5) {
    background-color: #28a82d;
}
.topic-content .n_xuni:nth-child(6) {
    background-color: #ed4967;
}
.topic-content .n_xuni:nth-child(2n+1){
    margin-right: 2%;
}
/*广告*/
.topic-content .ad_wrapper{
    clear: both;
}
.topic-content .ad_wrapper li {
    height: 0;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 29.7%;
    background-color: #EEE;
}
.topic-content .ad_wrapper li{
    background: rgb(238, 243, 245) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAxQTFRFqKioxsjJ7vP13eHin2tJMAAAAJVJREFUeNqsklEKwzAMQ6Xo/neu4rRzFpvBoCbkw682klKMH4UXIAlIANlAzOK8KvRMDPqDHnq3Oz3kkOgDVUEw8K1cnHANLcEH5HTifawwVIZcL0+nN+RyGdPUodZ91+AewQfqUby5PINnrvz3ySIiNfCWjHwYNCTSqCG0cO9Pw1iqv2Ga1J5Q7qpWjmhe/G+bugQYACzWBRVlSB+xAAAAAElFTkSuQmCC) no-repeat center center;
}
.topic-content .ad_wrapper li img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    vertical-align: top;
}
.topic-content .ad_wrapper .InputArrow:before{
    border-color:#FFF;
}
/*线路*/
.line_waiver{
    padding: 14px 0 0 14px;
    margin-top: 10px;
    background-color: #fff;
}
.line_waiver h2::before{
    content: "";
    display: inline-block;
    vertical-align: -2px;
    margin-right: 10px;
    width: 3px;
    height: 15px;
    background-position: 0 0;
}
.line_waiver h2 span {
    font-size: 12px;
    color: #999;
    margin-left: 15px;
}

.line_waiver h2::before{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAeCAIAAACAK/jpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABlJREFUeNpirD/AgAaYGBhGhUaFCAkBBBgACXoBe7uEFDQAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: 3px auto;
}

.TourList li .TourImageCont {
    width: 80px;
    height: 80px;
    background: rgb(238, 243, 245) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAGXRFW…CWjHwYNCTSqCG0cO9Pw1iqv2Ga1J5Q7qpWjmhe/G+bugQYACzWBRVlSB+xAAAAAElFTkSuQmCC) no-repeat center center;
}
/*列表*/
.TourList {
    padding-top: 0;
    box-sizing: content-box;
}