.indexCont .img_node:before{
    background-image: url(../images/tour_ico.png);
    background-repeat: no-repeat;
}
.nav-list li:before, .tool-cn a:before, .icon-new, .search-index:before, .search-index div:before, .notice-account:before, .search-index div span:after,.navBox li .box-img,.searchBtn,.gzl-logo,.cityWrap i{
    background: url(../images/home.png) no-repeat 0 0;
    background-size: 134px 326px;
}

.swiper-container {
    height: 100%;
}
.indexCont .img_node img {
    vertical-align: bottom;
    position: absolute;
    left: 0;
    top: 0;
}
.indexCont .img_node {
    background: rgb(238, 243, 245);
}
.indexCont .img_wrap {
    position: relative;
    overflow: hidden;
    background: #333;
}
.indexCont .img_node:before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    background-position: -74px -27px;
    background-size: 104px auto;
    animation: 2s loadingDetailImg linear infinite;
}
@keyframes loadingDetailImg {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*搜索*/
div.header.cf {
    text-transform: uppercase !important;
}
.header {
    display: block;
    position: relative;
    padding: 10px 15px 10px 15px;
}
.gzl-logo {
    /*background: url(http://images3.aoyou.com/webapp/msite/wp_logo.png) 0 0 no-repeat;*/
    width: 90px;
    height: 32px;
    text-indent: -9999px;
    margin-right: 10px;
    background-position: -29px -138px;
}
.searchBtn {
    position: absolute;
    right: 65px;
    top: 5px;
    content: "";
    width: 26px;
    height: 26px;
    /*background: url(http://images3.aoyou.com/webapp/msite/icon_zoom.png) 0 0 no-repeat;*/
    background-position: 0 -278px;
}

.notice-account {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 4px;
}
.notice-account:before {
    content: "\0020";
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -10px;
    width: 24px;
    height: 26px;
    background-position: 0px -193px;
}
.notice-account span {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    font-size: 12px;
    color: #690;
    text-align: center;
}
.cityWrap {
    position: absolute;
    right: 0;
    top: 10px;
    width: 100%;
    height: 29px;
    line-height: 29px;
}
.cityWrap span {
    width: 34%;
    font-size: 10px;
    color: #690;
    position: relative;
    margin-top: 5px;
    margin-left: 115px;
    float: left;
}
.cityWrap label{
    float: left;
}
.cityWrap i {
    position: absolute;
    left: 0;
    top: 7px;
    content: "";
    width: 13px;
    height: 16px;
    background-position: 0 -223px;
}
.cityWrap span em {
    margin-left: 14px;
    float: left;
    min-width: 40px;
    font-size: 15px;
    text-align: center;
}
.top-wrap{
    width: 100%;
    height: 52px;
}
.index-head .tool-cn{
    background-color: #FFF;
}
.index-head .tool-cn a {
    position: relative;
    float: left;
    padding:10px 38px;
    color: #333;
    font-size: 14px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.index-head .tool-cn .link-tel:before{
    background-position: 0px -153px;
    content: "\0020";
    position: absolute;
    top: 13px;
    left: 15px;
    width: 17px;
    height: 17px;
}
/*导航*/
.navBox {
    display: block;
    width: 100%;
    /* height: 114px; */
    overflow: hidden;
    text-align: center;
}
.navBox li {
    display: inline-block;
    width: 20%;
    margin-right: 2%;
    position: relative;
}
.navBox li a {
    display: block;
}
.navBox li .box-img {
   width: 66px;
    height: 66px;
    margin: 15px auto 5px;
    animation: index_icon .4s ease-out backwards;
}

@-webkit-keyframes index_icon {
    0%{
        -webkit-transform:scale(0);
    }
    100%{
        -webkit-transform:scale(1);
    }
}
@keyframes index_icon {
    0%{
        transform:scale(0);
    }
    80%{
        transform:scale(1.2);
    }
    100%{
        transform:scale(1);
    }
}
.navBox li h5 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 19%;
}
.navBox li:nth-of-type(1) .box-img{
   background-position: 0 0;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.navBox li:nth-of-type(1) h5{
    color: #3da2ff;
}
.navBox li:nth-of-type(2) .box-img{
    background-position: -68px 0;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.navBox li:nth-of-type(2) h5{
    color: #31bd80;
}
.navBox li:nth-of-type(3) .box-img{
    background-position: 0 -67px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.navBox li:nth-of-type(3) h5{
    color: #ffb410;
}
.navBox li:nth-of-type(4) .box-img{
    background-position: -68px -67px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.navBox li:nth-of-type(4) h5{
    color: #f61d4b;
}

/*主题*/
.topic-content{
    padding:8px;;
}
.topic-content .n_xuni {
    width: 49%;
    min-width: 148px;
    height: 70px;
    float: left;
    margin-bottom: 8px;
    -webkit-box-flex: 1;
    box-flex: 1;
    box-sizing: border-box;
    position: relative;
}
.topic-content .n_xuni img {
    height: 50px;
}
.topic-content .text,.topic-content .img{
    /*float: left;*/
}
.topic-content .img{
    position: absolute;
    left: 10px;
    top: 8px;
}
.topic-content .text{
    position: relative;
    bottom: 0;
    right: 0;
    padding: 16px 0 0 64px;
}
.topic-content h1,.topic-content p{
    color: #fff;
}
.topic-content p {
    font-size: 12px;
    line-height: 12px;
    margin-right: 8px;
}
.topic-content h1 {
    font-size: 18px;
    line-height: 24px;
    margin-right: 5px;
}
.topic-content .n_xuni:active{
    -webkit-transform: scale(.98);
    transform: scale(.98);
}
.topic-content .n_xuni:nth-child(1){
    background-color: #ff5d5d;
}
.topic-content .n_xuni:nth-child(2) {
    background-color: #f0b92d;
}
.topic-content .n_xuni:nth-child(3) {
    background-color: #f7cb2d;
}
.topic-content .n_xuni:nth-child(4) {
    background-color: #65b7f2;
}
.topic-content .n_xuni:nth-child(5) {
    background-color: #28a82d;
}
.topic-content .n_xuni:nth-child(6) {
    background-color: #ed4967;
}
.topic-content .n_xuni:nth-child(7){
    background-color: #ff5d5d;
}
.topic-content .n_xuni:nth-child(8) {
    background-color: #f0b92d;
}
.topic-content .n_xuni:nth-child(2n+1){
    margin-right: 2%;
}
/*广告*/
.topic-content .ad_wrapper{
    clear: both;
}
.topic-content .ad_wrapper li {
    height: 0;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 29.7%;
    background-color: #EEE;
}
.topic-content .ad_wrapper li{
    background: rgb(238, 243, 245) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAxQTFRFqKioxsjJ7vP13eHin2tJMAAAAJVJREFUeNqsklEKwzAMQ6Xo/neu4rRzFpvBoCbkw682klKMH4UXIAlIANlAzOK8KvRMDPqDHnq3Oz3kkOgDVUEw8K1cnHANLcEH5HTifawwVIZcL0+nN+RyGdPUodZ91+AewQfqUby5PINnrvz3ySIiNfCWjHwYNCTSqCG0cO9Pw1iqv2Ga1J5Q7qpWjmhe/G+bugQYACzWBRVlSB+xAAAAAElFTkSuQmCC) no-repeat center center;
}
.topic-content .ad_wrapper li:last-child{
    margin-bottom: 0;
}
.topic-content .ad_wrapper li img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    vertical-align: top;
}
.topic-content .ad_wrapper .InputArrow:before{
    border-color:#FFF;
}
/*线路*/
.line_waiver{
    padding: 14px 14px 8px 14px;
    margin-top: 10px;
    background-color: #fff;
}
.line_waiver h1{
    font-size: 16px;
}
.line_waiver h1::before{
    content: "";
    display: inline-block;
    vertical-align: -2px;
    margin-right: 10px;
    width: 3px;
    height: 15px;
    background-position: 0 0;
}
.line_waiver h1 span {
    font-size: 12px;
    color: #999;
    margin-left: 15px;
}

.line_waiver h1::before{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAeCAIAAACAK/jpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABlJREFUeNpirD/AgAaYGBhGhUaFCAkBBBgACXoBe7uEFDQAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: 3px auto;
}

.TourList li .TourImageCont {
    width: 80px;
    height: 80px;
    background: rgb(238, 243, 245) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAxQTFRFqKioxsjJ7vP13eHin2tJMAAAAJVJREFUeNqsklEKwzAMQ6Xo/neu4rRzFpvBoCbkw682klKMH4UXIAlIANlAzOK8KvRMDPqDHnq3Oz3kkOgDVUEw8K1cnHANLcEH5HTifawwVIZcL0+nN+RyGdPUodZ91+AewQfqUby5PINnrvz3ySIiNfCWjHwYNCTSqCG0cO9Pw1iqv2Ga1J5Q7qpWjmhe/G+bugQYACzWBRVlSB+xAAAAAElFTkSuQmCC) no-repeat center center;
}
/*列表*/
.TourList {
    padding-top: 0;
    box-sizing: content-box;
}
.TourList li {
    display: table;
    width: 100%;
    padding: 10px 0 0 0;
    border-bottom: 1px #ccc dashed;
}
.TourList li:last-child{
    border-bottom: none;
}
.TourList li:active {
    background: #f5f5f5;
}

.TourList li .TourImage {
    float: left;
    width: 60px;
    height: 60px;
    position: relative;
}
.TourList li .TourImageCont{
    width: 60px;
    height: 60px;
    background: rgb(238, 243, 245) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAxQTFRFqKioxsjJ7vP13eHin2tJMAAAAJVJREFUeNqsklEKwzAMQ6Xo/neu4rRzFpvBoCbkw682klKMH4UXIAlIANlAzOK8KvRMDPqDHnq3Oz3kkOgDVUEw8K1cnHANLcEH5HTifawwVIZcL0+nN+RyGdPUodZ91+AewQfqUby5PINnrvz3ySIiNfCWjHwYNCTSqCG0cO9Pw1iqv2Ga1J5Q7qpWjmhe/G+bugQYACzWBRVlSB+xAAAAAElFTkSuQmCC) no-repeat center center;
}

.TourList li .TourImage img {
    width: 60px;
    height: 60px;
}

.TourList li .TourContent {
    padding: 0 0 0 70px;
    height: 68px;
    position: relative;
}

.TourList li .TourContent h3 {
    font-size: 16px;
    line-height: 22px;
    color: #333;
    overflow: hidden;
}

.TourList li .TourContent .discount {
    padding: 3px 0;
    height: 20px;
}

.TourList li .TourContent .discount i {
    float: left;
    font-size: 10px;
    color: #666;
    line-height: 15px;
    height: 14px;
    padding: 0 2px;
    margin: 0 5px 0 0;
    border: 1px #ddd solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.TourList li .TourContent .discount i.hui {
    border-color: #FF7600;
    color: #FF7600;
}

.TourList li .TourContent .date {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #666;
    height: 18px;
}

.TourList li .TourContent .price {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #999;
}

.TourList li .TourContent .price dfn {
    font-size: 13px;
    color: #E00003;
}

.TourList li .TourContent .price strong {
    font-size: 20px;
    color: #E00003;
}

/*页脚*/
.tool-box{
    text-align: center;
    padding: 15px 0;
    height: 38px;
}
.tool-ver {
    color: #999;
}
.tool-ver a {
    padding: 0 0;
    text-align: center;
    color: #666;
    font-size: 12px;
}
.tool-box p {
    margin: 0;
    color: #999;
    font-size: 12px;
}