/*订单样式表*/
.p_bottom_tips .default::before, .p_traveller_info .label_item::before{
    background-image:url(../images/common_ico.png) ;
    background-repeat: no-repeat;
}
article .NotLogin {
    width: 100%;
    border-color: #ddd;
    border-width: 1px 0 1px 0;
    border-style: solid;
    margin: 10px 0 0 0;
    background: #fff;
    position: relative;
}

article .NotLogin p {
    font-size: 16px;
    padding: 10px 0 10px 10px;
}

article .NotLogin .LoginButton {
    position: absolute;
    right: 10px;
    top: 50%;
    display: block;
    float: left;
    height: 30px;
    margin-top: -15px;
    padding: 0 10px;
    background-color: #ff9a14;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

article .NotLogin .LoginButton:active {
    background: #e37911;
}

/*hotel order form*/
.HotelOrderForm {
    width: 100%;
}

.HotelOrderForm .FormHead {
    margin: 10px;
}

.HotelOrderForm .FormHead h3 {
    font-size: 15px;
    font-weight: 800;
    word-break: break-all;
    color: #333;
}

.HotelOrderForm .FormHead p {
    font-size: 14px;
    color: #999;
}

.HotelOrderForm .FormHead .info {
    display: table;
    margin-top: 5px;
}

.HotelOrderForm .FormHead .info .cell {
    color: #999;
    display: table-cell;
    padding-right: 10px;
}

.HotelOrderForm .FormHead strong {
    color: #7a7a7a;
}
.HotelOrderForm .booking_modify {
    padding: 1px 0 0 0;
}

.HotelOrderForm .booking_modify .db {
    width: 100%; /*display:box; */
    display: -webkit-box;
    display: -moz-box;
    padding: 0 10px;
    min-height: 40px;
    box-sizing: border-box; /*margin-top:-1px; */
    position: relative;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

.HotelOrderForm .booking_modify .db .BookingTxt {
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    color: #333;
    padding: 0 10px 0 0;
}

.HotelOrderForm .booking_modify .db .BookingTxt small {
    font-size: 12px;
    padding: 0 5px 0 0;
}

.HotelOrderForm .booking_modify .db .BookingLabel {
    display: inline-block;
    min-width: 80px;
    font-size: 15px;
    line-height: 44px;
    text-align: left;
}

.HotelOrderForm .booking_modify .db .BookingLabel small{
    display: block;
    line-height: 18px;
    color: #999;
}

.HotelOrderForm .booking_modify .db .BookingInput>input {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    height: 43px;
}

/*.HotelOrderForm .booking_modify .db .BookingContent {padding:12px 15px 8px 0; font-size:15px; line-height:20px; font-weight:800; color:#000; box-sizing:border-box; -webkit-box-sizing:border-box;}*/
.HotelOrderForm .booking_modify .db .InputResult.nonEmpty {
    margin-right: 28px;
}

.HotelOrderForm .HotelOrderTips {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    clear: both;
    color: #666;
    font-size: 12px;
}

/*hotel verify order form*/
.HotelOrderForm .booking_verify {
    padding: 1px 0 0 0;
}

.HotelOrderForm .booking_verify li {
    padding: 8px 10px;
    margin-top: -1px;
    min-height: 24px;
}

.HotelOrderForm .booking_verify li dt {
    float: left;
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: #555;
}

.HotelOrderForm .booking_verify li dd {
    display: block;
    padding: 0 0 0 100px;
    font-size: 15px;
    line-height: 24px;
    color: #000;
}

.HotelOrderForm .booking_verify li dd.price {
    font-size: 18px;
    font-weight: 800;
    color: #FF8600;
}

.HotelOrderForm .ButtonField {
    display: flex;
    display: -webkit-flex;
    padding: 10px 10px 10px 0;
}

.HotelOrderForm .ButtonField button {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    flex: 1;
    -webkit-flex: 1;
    margin-left: 10px;
    padding: 10px 0;
    border: 1px #ddd solid;
    text-align: center;
    color: #75AD06;
}

.HotelOrderForm .ButtonField button:active {
    background: #f5f5f5;
}

.PayTxtField {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #FF8E00;
    font-size: 16px;
    color: #fff;
}

.PayTxtField .total_price {
    display: inline-block;
    padding: 17px 0 0 10px;
    line-height: 20px
}

.PayTxtField .total_price small {
    vertical-align: bottom;
}

.PayTxtField .total_price b {
    font-size: 20px;
    vertical-align: bottom;
    color: #FFF;
}

.PayTxtField .pay_button {
    float: right;
    display: block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #FFB30F;
    color: #fff;
}

.PayTxtField .pay_button:active {
    background: #FFA10F;
}

.PayTxtField .detail_button {
    float: right;
    display: block;
    width: 80px;
    line-height: 50px;
    text-align: center;
}

.PayTxtField .detail_button:active {
    background: #FF9B00;
}

.HotelDetailSpace {
    width: 100%;
    height: 60px;
}

/*入住人列表*/
.person-in-items {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
}

.person-in-items li {
    min-height: 44px;
    padding: 0 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
}

.person-in-items li:last-of-type ,.person-in-items li.mod_hd {
    border-bottom: 0;
}

.person-in-items .cui-switch {

}
.person-in-items .contactList{
    display: none;
}

.order_mod_box {

}

.order_mod_box .mod_hd {
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    padding-right: 30px;
}

.order_mod_box .mod_hd .small {
    font-size: 12px;
    color: #8A8A8A;;
    margin-left: 10px;
}

.booking_modify .db {
    border-width: 0 0 1px 0;
}

.booking_modify .db:last-child {
    border-width: 0;
}

.InputResult.cui-switch-input {
    display: table;
    width: 100%;
}

.InputResult.cui-switch-input .BookingLabel {
    display: table-cell;
}

.InputResult.cui-switch-input .cui-switch-cont {
    display: table-cell;
    text-align: right;
}
.InputResult.cui-switch-input .cui-switch-cont .g-price{
    font-size: 20px;
}
.booking_modify .mod_bd .contractCont{
    padding:0 15px;
}
.p_bottom_tips {
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin: 10px 15px 10px 15px;
}
.p_bottom_tips .default {
    position: relative;
    padding-left: 16px;
}
.p_bottom_tips .default::before, .p_traveller_info .label_item::before {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    content: '';
    margin-right: 4px;
    background-position: 0 -89px;
    background-size: 90px auto;
}
.p_bottom_tips .selected::before {
    background-position: -33px -89px;
}
.p_bottom_tips .default::before {
    position: absolute;
    left: 0;
    top: 2px;
}
.mod_foot_acitons {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 58px;
    line-height: 40px;
    font-size: 14px;
    white-space: nowrap;
    padding: 8px 15px 10px;
    border-top: 1px solid rgb(204, 204, 204);
    background-color: rgb(249, 249, 249);
    box-sizing: border-box;
}
.mod_foot_acitons .btn_link, .mod_foot_acitons .btn_link2, .mod_foot_acitons .btn_link3, .mod_foot_acitons .btn_link5 {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(160, 160, 160);;
}
.mod_foot_acitons .mod_foot_active{
    background-color: rgb(255, 155, 0);
}

.detail_toggle .mod_bd{
    padding: 15px 0 ;
    position: relative;
}
@font-face {
    font-family: 'gico';
    src: url('fonts/gico.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.border-item {
    border-bottom-width: 1px;
}

.payment_succeed_bg {
    background: rgb(255, 255, 255);
    overflow: hidden;
}

.payment_succeed_box {
    position: relative;
    width: 260px;
    margin: 28px auto 15px;
}
.payment_content_box {
    position: relative;
    padding: 15px 15px;
}
[class^="f-"], [class*=" f-"] {
    font-family: 'gico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.payment_succeed_box .f-radiobox {
    font-size: 40px;
    color: #690;
    position: absolute;
    top: 1px;
    left: 0;
}

.f-radiobox:before {
    content: "\e624";
}

.payment_succeed_txt {
    margin-bottom: 15px;
    padding-left: 58px;
    font-size: 18px;
    line-height: 21px;
}

.payment_succeed_hint {
    display: block;
    font-size: 13px;
    color: rgb(1, 1, 1);
    line-height: 20px;
}
.payment_sub {
    color: #999;
}
.flex_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.payment_cancel_view {
    padding-left: 15px;
    background: rgb(255, 255, 255);
}

.flex_container .flex_box {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.payment_succeed_bg .flex_box {
    margin-bottom: 14px;
}
.payment_cancel_view .flex_box {
    margin-right: 10px;
    border: #690 solid 1px;
    border-radius: 5px;
}
.payment_cancel_btn {
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    color: #690;
}
.booking_modify .db {
    width: 100%;
    /* display: box; */
    display: -webkit-box;
    display: -moz-box;
    padding: 0 10px;
    min-height: 40px;
    box-sizing: border-box;
    /* margin-top: -1px; */
    position: relative;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}
.paybtn, .credit_btn {
    position: relative;
    height: 44px;
    font: 600 20px/44px "";
    color: rgb(255, 255, 255);
    background: rgb(255, 153, 19);
    border-radius: 5px;
}
.payment_content_box{
   /* border-top: 1px #DDD solid;;*/
}